body {
    height: 97vh;
    vertical-align: middle;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-variant: normal;
}

button {
    bottom: 25vh;
    left: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-variant: normal;
    text-align: center;
}
